@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Sacramento&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   /* text-align: center; */
   font-family: 'Poppins', sans-serif;
}

.container {
   width: 100%;
}

#hamburgur, .closebtn {
   display: none;
}

li {
   list-style: none;
}

header {
   background: #f5d1c9;
   padding-top: 30px;
   height: 1000px;

}
.menubar {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.menubar img {
   width: 140px;
   margin: 0 20px 0 50px;
}

.menubar-list ul{
   display: flex;
   justify-content: space-between;
}
.menubar-list li{
   list-style: none;
   padding: 0 50px;
   white-space: nowrap;
}
.menubar-list a{
   text-decoration: none;
   color: #1d4c8b;
   font-weight: bold;
   font-size: 12pt;
}

.menubar svg {
   width: 40px;
   margin: 0 50px;
   fill: #1d4c8b;
}
.ham-cart {
   display: flex;
}

.header-banner {
   width: 100%;
   text-align: center;
}

.header-banner h1 {
   color: #1d4c8b;
   font-size: 100pt;
   font-weight: 500;
}
.header-banner h3 {
   padding: 30px;
   color: #1d4c8b;
   font-family: 'Sacramento', cursive;
   font-size: 50pt;
   font-weight: lighter;
}
.cereal-bowl {
   display: flex;
   justify-content: center;
}
.cereal-bowl img {
   width: 40%;
}

.content {
   text-align: center;
}

.menu-content {
   background: #fff8ee;
   padding: 300px 0 80px 0;
}

.menu-container {
   background: #fff8ee;
   border: 2px solid #1d4c8b;
   margin: 0 auto;
   width: fit-content;
}
.menu-header h2 {
   color: #1d4c8b;
   font-size: 40pt;
   text-transform: uppercase;
   margin-top: 30px;
}
.menu-header p {
   color: #1d4c8b;
   font-size: 15pt;
}
.banner {
   background: #f5d1c9;
   border: 2px solid #1d4c8b;
   width: 80%;
   margin: 50px auto;
}
.banner h4{
   font-size: 18pt;
   color: #1d4c8b;
   letter-spacing: 5px;
   font-weight: lighter;
   padding: 15px 0;
}
.cereal-milk-menu {
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin-bottom: 50px;
}
.cereal-menu h4, .milk-menu h4 {
   text-align: left;
   color: #1d4c8b;
   font-size: 10pt;
   font-weight: 900;
   letter-spacing: 2px;
   padding: 5px 0;
}
.cereal-menu, .milk-menu {
   padding: 0 80px;
   
}
.menu-text {
   text-align: left;
}
.text-line{
   display: grid;
   grid-template-columns: 3fr 1fr ;
   color: #1d4c8b;
}
.menu-content hr {
   width: 80%;
   border: 1px solid #1d4c8b;
   margin: auto;
}
.price{
   text-align: right;
}
.check {
   margin-left: 15px;
   background: none;
   
}
.yoghourt {
   margin: 30px auto;
   width: 80%;
}
.yoghourt-option {
   display: flex;
   justify-content: space-between;
   margin-left: 20px;
   flex: 1;
}
.yoghourt-list {
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: #1d4c8b;
   margin: 20px 0;
}
.yoghourt-list span {
   padding-right: 15px;
}
.yoghourt-list h5 {
   font-weight: bold;
   letter-spacing: 1px;
   font-size: 12pt;
}
.yoghourt h4 {
   font-size: 10pt;
   color: #1d4c8b;
   letter-spacing: 6px;
   font-weight: bold;
}
.menu-container button {
   color: #fff;
   padding: 15px 50px;
   font-size: 12pt;
   font-weight: bold;
   border: 1px solid #1d4c8b;
   border-radius: 40px;
   margin: 50px 0;
   cursor: pointer;
   background: #1d4c8b;
}


.combos {
   background: #a8baca;
   padding: 15px 0 60px 0;
}
.combos-header {
   margin: 40px;
}
.combos-header h2{
   color: #1d4c8b;
   font-size: 50pt;
   padding: 20px;
   text-transform: uppercase;
   margin-top: 20px;
   letter-spacing: 5px;
}
.combos-header p {
   color: #1d4c8b;
   font-size: 15pt;
}
.all-combos {
   display: grid;
   grid-template-columns: auto auto auto;
   justify-content: center;
   gap: 40px
}
.all-combos h5 {
   font-size: 15pt;
   color: #1d4c8b;
   font-weight: bold;
}
.all-combos p {
   font-size: 12pt;
   color: #1d4c8b;
   padding: 10px 0;
}
.all-combos button {
   width: 180px;
   height: 50px;
   background: #f5d1c9;
   color: #1d4c8b;
   border: 1px solid #1d4c8b;
   outline: none;
   font-size: 12pt;
   border-radius: 50px;
   cursor: pointer;
   transition: background 0.7s;
}
.all-combos button:hover {
   background: #fff;
   
}

.combos-list{
   background: #f5d1c9;
   border: 2px solid #1d4c8b;
   padding: 40px 0;
   width: 300px;
}

.history {
   display: grid;
   grid-template-columns: 50% 50%;
   background: #f5d1c9;
   align-items: center;
}
.history-pic {
   width: 100%;
   grid-column: 1;
   background: #f5ddd8;
}  
.history-pic img {
   width: 100%
}
.history-text {
   background: #f5d1c9;
   margin: auto;
   padding: 20px;
}

.history-text h2 {
   font-size: 40pt;
   color: #1d4c8b;
   font-weight: bold;
   text-align: left;
   padding: 30px 0;
}
.history-text p {
   font-size: 13pt;
   color: #1d4c8b;
   margin: 0;
   padding: 10px 0;
   text-align: left;
}

.these-are {
   display: grid;
   grid-template-columns: 50% 50%;
   background: #f5d1c9;
}

.these-are h2 {
   font-size: 40pt;
   color: #1d4c8b;
   font-weight: bold;
   padding: 30px 0;
   text-align: left;
}
.these-grid {
   width: fit-content;
   margin: auto;
   padding: 0 20px;
}
.creator i {
   font-size: 80pt;
   color: #1d4c8b;
}
.creator p {
   font-size: 13pt;
   color: #1d4c8b;
   margin: 0;
   padding: 10px 0;
   display: flex;
   flex-direction: row;
   text-align: left;
}
.creator {
   display: flex;
   flex-direction: row;
   padding: 30px 0;
   justify-content: center;
   align-items: center;
}
.creator-text {
   padding: 0 50px;
}

.these-are-pic {  
   background: #a8baca;
   width: 100%;
   height: 100%;
   margin: auto;
   padding: 80px 0;
   align-items: center;
   display: grid;
}
.these-are-pic img {
   width: 300px;
}
.smile-icon {
   width: 100px;
   height: 100px;
   background: #a8baca;
   border-radius: 50px;
   position: relative;
}
.smile-border {
   width: 80px;
   height: 80px;
   border: 3px solid #1d4c8b;
   border-radius: 40px;
   position: absolute;
   top: 50%;
   left: 50%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}

footer {
   background-color: #fff8ee;
}

.footer-text {
   width: 80%;
   padding: 100px 0;
   margin: 0 auto;
   color:#1d4c8b;
   /* display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 50px; */
   display: flex;
   justify-content: space-between;
}

.footer-box {
   position: relative;
   height: 200px;
   margin: 0 20px;
}

.footer-box input{
   width: 100%;
   height: 30px;
   border: 2px solid #1d4c8b;
   background: none;
   position: absolute;
   bottom: 0;
}
.footer-box input::placeholder {
   padding: 0 10px;
}
.footer-box button {
   width: 100%;
   padding: 10px 0;
   background: #1d4c8b;
   color: #fff;
   border: none;
   border-radius: 40px;
   position: absolute;
   bottom: 0;
   cursor: pointer;
}
.footer-text img {
   width: 70%;
   position: absolute;
   bottom: 0;
}
.follow-text {
   position: absolute;
   bottom: 0;
}
.follow-text p {
   padding: 20px 0;
}
.follow-text svg {
   width: 23px;
   fill: #1d4c8b;
   margin-right: 30px;
   cursor: pointer;
}
#small {
   width: 15px;
}
#bold {
   font-weight: bold;
}
.copyright {
   background: #a8baca;
   padding: 30px 0;
   color: #1d4c8b;
   font-weight: 500;
   text-align: center;
   letter-spacing: 1px;
}

@media only screen and (max-width: 1000px) {
   .combos-list{
      width: 250px;
   }
   .menubar-list li{
      padding: 0 30px;
   }
   .header-banner h1 {
      font-size: 70pt;
   }
   .all-combos {
      gap: 20px
   }
   .menu-content {
      padding-top: 200px;
   }
   .history-text p{
      font-size: 10pt;
   }
   .creator p {
      font-size: 10pt;
   }
   .these-are-pic img {
      width: 200px;
   }
}
@media only screen and (max-width: 900px) {
   .menubar-list li{
      padding: 0 20px;
   }
   .all-combos {
      gap: 20px
   }
   .combos-list {
      width: 220px;
   }
   .footer-text {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 30px;
   }
   .footer-box button, .footer-box input, .footer-box img, .follow-text {
      bottom: auto;
      margin: 20px 0;
   }
   .footer-box img {
      width: 50%;
   }
   .text-line{
      display: grid;
      grid-template-columns: 2fr 1fr ;
      color: #1d4c8b;
   }
   .cereal-menu, .milk-menu {
      padding: 0 40px;
   }
}
@media only screen and (max-width: 800px) {
   #hamburgur {
      display: block;
   }
   .menubar svg {
      width: 30px;
      margin: 0 20px;
   }
   .menubar {
      position: relative;
   }
   .menubar ul {
      display: block;
      padding-top: 100px;
   }
   .menubar-list {
      position: fixed;
      background: #1d4c8b;
      width: 0;
      height: 100%;
      right: 0;
      top: 00px;
      z-index: 50;
      overflow: hidden;
      transition: 0.5s;
   }
   .menubar-list a {
      line-height: 50px;
      color: #fff;
      font-size: 20px;
   }
   .closebtn {
      display: block;
      position: absolute;
      right: 10px;
      top: 40px;
   }
   #close {
      font-size: 60px;
   }
   .menubar img {
      width: 100px;
      margin: 0 20px 0 50px;
   }
   .header-banner h1 {
      font-size: 40pt;
   }
   .combos h2, .these-are h2, .history h2, .menu-header h2 {
      font-size: 30pt;
   }
   .cereal-menu, .milk-menu {
      padding: 0 30px;
   }
   .yoghourt-list {
      display: block;
   }
   .yoghourt-option {
      display: flex;
   }
}
@media only screen and (max-width: 700px) {
   .all-combos {
      display: block;
   }
   .combos-list {
      width: 300px;
      margin: 20px auto;
   }
   .cereal-bowl img {
      width: 80%;
   }
   .history, .these-are {
      display: block;
   }
   .history-text {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .these-are  h2 {
      text-align: center;
   }
   
   .footer-text {
      display: block;
      padding-bottom: 0;
   }
   .footer-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 50px;
      margin-top: -60px;
   }
   .footer-box button, .footer-box input, .footer-box img, .follow-text {
      position: static;
   }
   
}